<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script>
        function displayDate(){
            document.getElementById("demo").innerHTML = Date();
        }
        document.write("<h1>Hello World!</h1>");
        document.write("<p>This is a paragraph.</p>");
        document.write("<p>This is another paragraph.</p>");
    </script>
</head>
<body>
    <h1>我的第一个JavaScript程序</h1>
    <p id="demo">这是一个简单的程序</p>
    <button type="button" onclick="displayDate()">点击我 显示日期</button>
    <button type="button" onclick="alert('欢迎光临')">欢迎光临！</button>
</body>
</html>